@use "bootstrap/scss/bootstrap" as bs;

.product-page-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.go-home-button {
    display: flex;
    align-self: flex-start;
    align-items: center;
    user-select: none;
    text-decoration: none;

    i {
        height: 1em;
    }

    h1, i {
        font-size: 2em;
        line-height: 1em;
        color: white;
    }
}

.product-box {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto auto 1fr auto; 
    gap: 0 20px; 
    grid-template-areas: 
        "image title"
        "image price"
        "image tags"
        "image desc"
        "image ticker";

    margin: 0 10px 0 10px;
    padding: 20px;
    background-color: white;

    /* Mostly so that it doesn't disappear while testing/developing */
    min-height: 25vh;
    height: max-content;
    width: calc(100% - 2em);

    box-sizing: border-box;
    overflow-x: hidden;

    border-radius: 15px;

    .image {
        grid-area: image;
    }

    .price-container {
        grid-area: price;
        margin-bottom: 10px;
    }

    .title {
        grid-area: title;
        font-size: 3.5em;
        line-height: 1.2em;
        min-width: 0
    }

    .desc {
        grid-area: desc;
        min-width: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 30px;
        font-size: larger;
    }

    p {
        margin-bottom: 0.5em;
    }
}

.prod-ticker {
    grid-area: ticker;
    width: 100%;
    max-width: 100%;
    height: 100%
}

.product-group {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 5px;
    max-width: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.product-variant {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    width: 110px;
    height: 150px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(0 0 0 / 0.2);

    background-color: rgb(0 0 0 / 0.2);
    transition: margin-bottom 0.1s;

    .price {
        align-self: center;
        .price-major {
            font-size: 15px;
        }

        .price-minor {
            font-size: 10px;
        }
        .price-currency {
            display: none;
        }
    }
}

.product-variant:hover {
    background-color: transparent;
    border: 2px solid black;
}

.selected-product-variant {
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 0.2);
    margin-bottom: 10px;
}

.hover-product-image {
    position: absolute;
    z-index: 2;
}

.additional-product-information {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 80px);
    background-image: linear-gradient(gray -10px, white 12px);
    align-self: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: min-content;

    h2 {
        color: var(--blue-black);
        margin-bottom: 5px;
    }

    .additional-product-information-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        font-size: 12px;

        > div {
            width: 49%; /** Allow for 2 columns of data */
            display: flex;
            border-bottom: 2px solid var(--light-grey);
            :first-child {
                width: 25%;
                font-weight: 600;
                color: var(--dark-grey);
            }

            font-size: 14px
        }
    }
}


@media screen and (max-width: 1100px)  {
    .product-box {
        display: flex;
        flex-direction: column;
        gap: 0 0;

        margin: 0 10px 0 10px;
        padding: 15px;
        width: calc(100% - 20px);

        .title {
            font-size: 3em;
            margin-top: 10px;
        }
    }

    .product-group {
        justify-content: center;
    }

    .product-variant {
        transition: none;
        padding: 1px;
    }

    .selected-product-variant {
        margin-bottom: unset;
        border: 2px solid black;
        padding: 0;
    }

    .product-variant .p-small {
        display: none;
    }

    .additional-product-information {
        width: calc(100% - 50px);

        .additional-product-information-container {
            > div {
                width: 100%;

                :first-child {
                    width: 50%;
                }
            }
        }
    }
}