// Sass deprecation warnings are shown when compiling source Sass files with the latest versions of Dart Sass. This
// does not prevent compilation or usage of Bootstrap. A long-term fix is in progress, but in the meantime these
// deprecation notices can be ignored.
@use "bootstrap/scss/bootstrap" as *;

$enable-shadows: true !default;

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}