/* Error: Two forwarded modules both define a variable named $white.
 *   ,
 * 1 | @forward "components/components.scss";
 *   | ===================================== original @forward
 * 2 | @forward "./common.scss";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^ new @forward
 *   '
 *   index.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Two forwarded modules both define a variable named $white.\a   \2577 \a 1 \2502  @forward "components/components.scss";\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @forward\a 2 \2502  @forward "./common.scss";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^ new @forward\a   \2575 \a   index.scss 2:1  root stylesheet';
}
